/* styles.css */
.context-menu {
    -fx-background-color: lightgray;
    -fx-border-color: #c4c242;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
}

.context-menu .menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: black; /* Couleur du texte */
}

.context-menu .menu-item:hover {
    -fx-background-color: transparent; /* Supprime l'effet de survol */
    -fx-text-fill: black; /* Gardez la couleur du texte */
}

/* S'assurer que le texte est noir même lorsque le menu est affiché */
.context-menu .menu-item .label {
    -fx-text-fill: black; /* Forcer la couleur du texte à noir */
}